.notifyCard {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
    cursor: pointer;
    [class*="NotifyContext"] {
        display: flex;
        padding: .5rem;
        [class*="NotifyIcon"] {
            flex: 0 0 2rem;
            [class*="NotifyIconStar"] {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 4rem;
                height: 1.8rem;
                transform: rotate(-45deg) translate(-15px, -20px);
                text-align: center;
                >span {
                    margin-top: 10px;
                    transform: rotate(45deg);
                }
            }
        }
        [class*="NotifyMsg"] {
            flex: auto;
            h5 {
                margin: 0;
                font-size: 1.0rem;
                font-weight: 400;
            }
            label {
                font-size: .8rem;
                line-height: 1rem;
                margin: 0;
            }
        }
        .NotifyClose {
            flex: 0 0 2rem;
            button {
                display: none;
                width: 1.6rem;
                height: 1.6rem;
                border: none;
                appearance: none;
                margin-top: .5rem;
                background: transparent;
                font-size: .8rem;
            }
        }
    }
    &:hover [class*="NotifyClose"] {
        display: block !important;
    }
}
.notifyIconMode {
    [class*="Icon"] {
        font-size: 1.5rem;
        margin-left: -0.2rem;
        margin-top: .1rem;
    }
}