.pageContainer {
    $scaleHeight: 100%;
    $offsetHeight: 4.2rem;
    display: block;
    height: calc(#{$scaleHeight} - #{$offsetHeight});
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}
.fullScreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}