.landing {
    display: block;
    width: 100vw;
    height: 100vh;
    background: #403c3c;
    position: relative;
    
}
.adminLanding {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #403c3c;
}

.landing,
.adminLanding {
    .spin {
        position: absolute;
        left: 50%;
        margin-left: -300px;
        top: 50%;
        margin-top: -67px;
    }
}
