@keyframes frameZoomIn {
    0% {
        opacity: 0.1;
        transform: scale(.1,.1);
    }
    80% {
        opacity: 1;
        transform: scale(1,1);
    }
    90% {
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
    }
}
@keyframes frameZoomOut {
    0% {
        opacity: 1;
        transform: scale(1,1);
    }
    10% {
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    100% {
        opacity: 0;
        transform: scale(0.1,0.1);
    }
}
.animationZoomIn {
    transform-origin: 50% 50%;
    animation: frameZoomIn .4s ease-in forwards;
}
.animationZoomOut {
    transform-origin: center center;
    animation: frameZoomOut .4s ease-out forwards;
}

@keyframes framesSpin1 {
    0% { opacity: 1;}
    20% { opacity: 0;}
    40% { opacity: 1;}
}
@keyframes framesSpin2 {
    0% { opacity: 1;}
    20% { opacity: 1;}
    40% { opacity: 0;}
    60% { opacity: 1;}
}
@keyframes framesSpin3 {
    0% { opacity: 1;}
    60% { opacity: 1;}
    80% { opacity: 0;}
    100% { opacity: 1;}
}