.admin_layout {
    display: block;
    width: 100vw;
    height: 100vh;
}
.admin_layout_logo {
    display: block;
    height: 60px;
    box-sizing: border-box;
    padding: 15px;
    line-height: 30px;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    [class*="dark"] {
        color: #fff;
    }
}
.collaspedLogo {
    text-align: center;
    span {
        display:block;
        overflow: hidden;
    }
}
.admin_layout_header {
    background: #fff !important;
}
.admin_menu_taggle {
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    position: absolute;
    left: 5px;
    border: none !important;
    box-shadow:  none !important;
    &:active {
        box-shadow:  none !important;
    }
}
.admin_layout_content {
    background: #fff;
    margin: 10px !important;
    padding: 20px !important;
    min-height: 280px !important;
}

.adminTopButton {
    display: block;
    float: right;
    border: none;
    background: transparent;
    padding: 0 20px;
    position: relative;
    >span>svg {
        transform: scale(1.8,1.8);
        path {
            fill: #6d6a6a;
        }
    }
    [class*="ant-menu-root"] {
        position: relative;
        right: 0;
        top: 100%;
    }
}
.adminTopButton_profile {
    margin-right: 10px;
}
.adminTopButton_notify {
    padding-right: 26px;
    &::after {
        content: attr(title);
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 8px;
        border-radius: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: absolute;
        right: 2px;
        top: 4px;
        background: rgb(202, 21, 21);
        color: #fff;
    }
    &:hover {
        background: rgba(57, 171, 224, 0.349);
        path {
            fill:#1a90ff;
        }
    }
    &:active {
        background: rgba(42, 133, 175, 0.349);
        path {
            fill:#1a90ff;
        }
    }
}

