.portal {
    display: block;
    width: 100%;
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,sans-serif;
    >div {
        display: block;
        padding: 2rem;
        padding-top: 4rem;
        .title {
            display: block;
            margin: 0;
            padding: 2rem 0;
            font-size: 2.7rem;
            font-weight: 400;
        }
        .actionLayout {
            display: flex;
            .actionLayoutLeft {
                flex: 0 0 24rem;
            }
            .actionLayoutSplit {
                flex: 0 0 4rem;
            }
            .actionLayoutRight {
                flex: auto;
            }
        }
    }
}
.action {
    padding-bottom: 1rem;
    >h4 {
        margin: 0;
        padding: 5px 0;
        font-size: 1.5rem;
        font-weight: normal;
    }
    div {
        padding-left: .2rem;
        >label {
            display: block;
            cursor: pointer;
            margin-bottom: .2rem;
            .actionTitle {
                padding-left: .4rem;
            }
        }
        .actionLinkButton {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
.notifyContainer {
    [class*="NotifyCard"] {
        margin-top: .6rem;
    }
    [class*="NotifyCard"]:first-child {
        margin-top: 0;
    }
}

.CreatePanel {
    display: block;
    padding: 1rem;
    >div {
        display: block;
        width: 400px;
        .createPanelFileTypes {
            display: block;
            label {
                display: inline-block;
                vertical-align: text-top;
                width: 80px;
                height: 70px;
                margin-right: .5rem;
                position: relative;
                border-radius: 3px;
                overflow: hidden;
                input[type="radio"] {
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin: 0;
                    padding: 0;
                    opacity: 0;
                }
                >i {
                    display: block;
                    font-size: 1.8rem;
                    text-align: center;
                    padding: .2rem;
                    padding-top: .4rem;
                    &::before {
                        display: block;
                        box-sizing: border-box;
                        border-width: 1px;
                        border-style: solid;
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: -1;
                    }
                }
                >span {
                    display: block;
                    font-size: .8rem;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: .2rem .4rem;
                    overflow: hidden;
                }
            }
        }
        .createPanelAlignTop {
            vertical-align: text-top;
            padding-top: .4rem;
        }
    }
}