.lineInputStories {
    display: inline-block;
    padding: 20px 50px;
    min-height: 100px;
    background: url("https://st0.dancf.com/gaoding-material/2020-06-07/1591530521-V0dMF.jpg?x-oss-process=image/resize,w_1080/sharpen,110/interlace,1,image/format,webp");
    >div {
        display: block;
        width: 250px;
        margin: 0 auto;
    }
}