.page_editor {
    display: block;
    width: 100%;
    height: 100%;
    >div {
        width: 100%;
        height: 100%;
        position: relative;
    }
    [class*="theme_dark"] {
        $titleColor: #ccc;
        $subTitleColor: rgba(204, 204, 204, 0.7);
        $disableColor: rgba(108, 108, 108, 0.7);
        $focusBackColor: rgb(30, 30, 30);
        $focusTextColor: #3794ff;
        $normalBackColor: #333;
        $alertColor: #b50505;
        [class*="Container"], [class*="ContextMenu"] {
            background: $focusBackColor;
        }
        [class*="NormalBackColor"] {
            background-color: $normalBackColor;
        }
        [class*="TitleColor"] {
            color: $titleColor;
        }
        [class*="SubTitleColor"] {
            color: $subTitleColor;
        }
        [class*="FocusTextColor"] {
            color: $focusTextColor;
        }
        [class*="MenuBarItem"] {
            &:hover {
                background:$focusBackColor;
                color: #fff;
            }
        }
        [class*="ContextMenu"] {
            ul {
                box-shadow: 1px 1px 12px rgba(10,10,10,.6);
                background:$focusBackColor;
            }
            [class*="MenuItem"] {
                >label {
                    color: $titleColor;
                    i {
                        color: $disableColor;
                    }
                }
            }
            [class*="MenuItem"]>label:hover {
                background-color: rgb(51, 51, 51);
            }
            [class*="MenuSplitItem"],
            [class*="MenuSplitItem"]>label:hover {
                background-color:rgb(109, 109, 109, .4);
            }
        }
        [class*="Window"] {
            background: $focusBackColor;
            box-shadow: 0 0 12px rgba(10,10,10,.8);
            [class*="Header"] {
                background: $normalBackColor;
                [class*="Icon"] {
                    color: $focusTextColor;
                }
                [class*="Buttons"] {
                    button {
                        background: transparent;
                        color: $titleColor;
                        &:hover {
                            background: $focusBackColor;
                        }
                        &:active {
                            background: darken($focusBackColor, 5);
                        }
                    }
                    [class*="BtnClose"] {
                        background: $alertColor;
                        &:hover {
                            background: lighten($alertColor, 5);
                        }
                        &:active {
                            background: darken($alertColor, 5);
                        }
                    }
                }
                [class*="Title"] {
                    color: $titleColor;
                }
            }
        }
    }
}